@each $type, $val in $weight {
    .type-#{$type}{
        font-weight: $val;
    }
}
@each $t, $val in $size {
    .type-#{$t}{
        font-size: $val;
    }
}
body {
    @include bgMarble;
}
section {
    margin: auto;
    max-width: 1080px;
    height: auto;
}
a {
    color: $colorWhite;
    text-decoration: none;
    &:active {
        color: $colorWhite;
        text-decoration: none;
    }
    &:hover {
        color: $colorWhite;
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
    }
}

// @media all and (min-width: 992px){
//     section{
//         min-height: 720px;
//     }
// }
