$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?a8e453e809fba40f78110693c5e399f6") format("truetype"),
url("./flaticon.woff?a8e453e809fba40f78110693c5e399f6") format("woff"),
url("./flaticon.woff2?a8e453e809fba40f78110693c5e399f6") format("woff2"),
url("./flaticon.eot?a8e453e809fba40f78110693c5e399f6#iefix") format("embedded-opentype"),
url("./flaticon.svg?a8e453e809fba40f78110693c5e399f6#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "home": "\f101",
    "letter": "\f102",
    "shopping-bag": "\f103",
    "shopping-bag-1": "\f104",
    "whatsapp-1": "\f105",
    "facebook-logo": "\f106",
    "instagram-2": "\f107",
    "whatsapp-2": "\f108",
    "marcador-de-posicion": "\f109",
    "correo-electronico": "\f10a",
    "compartir": "\f10b",
);

.flaticon-home:before {
    content: map-get($flaticon-map, "home");
}
.flaticon-letter:before {
    content: map-get($flaticon-map, "letter");
}
.flaticon-shopping-bag:before {
    content: map-get($flaticon-map, "shopping-bag");
}
.flaticon-shopping-bag-1:before {
    content: map-get($flaticon-map, "shopping-bag-1");
}
.flaticon-whatsapp-1:before {
    content: map-get($flaticon-map, "whatsapp-1");
}
.flaticon-facebook-logo:before {
    content: map-get($flaticon-map, "facebook-logo");
}
.flaticon-instagram-2:before {
    content: map-get($flaticon-map, "instagram-2");
}
.flaticon-whatsapp-2:before {
    content: map-get($flaticon-map, "whatsapp-2");
}
.flaticon-marcador-de-posicion:before {
    content: map-get($flaticon-map, "marcador-de-posicion");
}
.flaticon-correo-electronico:before {
    content: map-get($flaticon-map, "correo-electronico");
}
.flaticon-compartir:before {
    content: map-get($flaticon-map, "compartir");
}
