// Font size
$fonts: 'Poppins', sans-serif;
$weight:("light":300, "regular":400, "bold":700);
$size:("s":12px,"sm":16px,"md":24px,"lg":36px,"xlg":48px);
// fontSizeEnd

// Colors
$colorSkin:#FCD6DB;
$colorfuchsia: rgba(230, 113, 241, 0.730);
$colorPink: #EAACBD;
$colorLigthPink: #f39bb2d5;
$colorBlack: #121212;
$colorWhite: #fff;
// ColorsEnd

// background
@mixin bgMarble {
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/781/268/non_2x/marble-texture-design-seamless-pattern-black-and-white-vector.jpg");
}

@mixin bgGradientRose {
    background: linear-gradient(to bottom, rgba(254,187,187,1) 50%,rgba(234,173,173,1) 62%,rgba(234,173,173,1) 62%,rgba(73,55,55,1) 100%);

}
//  backgroundEnd