.containerFooter { 
    position: relative;
    padding-bottom: 10em;
    margin-top: 1em;
    background: linear-gradient(to bottom, rgba(254,187,187,1) 50%,rgba(234,173,173,1) 62%,rgba(234,173,173,1) 62%,rgba(73,55,55,1) 100%);
    border: black 2px solid;
        .footerMaps {
        width: auto;
        height: auto;
        min-height: 250px;
            .maps {
                width: 100%;
                height: 100%;
            }

    }
    .containerContacto {
        a {
            color: $colorBlack;
        }
    
        .footerInfo {
        line-height: 3em;
        letter-spacing: 1px;
        list-style: none;
        padding-left: 30px;
        border-left: 1px solid black;
        }
    }
    .footerIcon {
        color: $colorBlack;
    }
}



