@media all and (min-width: 992px){
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

.header {
    background-color: $colorSkin;
    width: 100%;
    border: black 2px solid;
    box-shadow: 0 10px 20px -2px black;
    margin-top: 1rem;
    z-index: 100;
    i {
        font-size: 1em;
        padding-right: 1px;
        color: $colorBlack;
    }
    .active {
        @extend .type-bold
    }
    #logo {
        width: 140px;
        border-radius: 50%;
        border: rgb(0, 0, 0) 2px solid ;
        box-shadow: 0 10px 20px -2px black;
    }
    img {
        min-width: 200px;
    }
    li a:hover, i:hover {
        color: $colorfuchsia ;
        transition: 100ms linear;
        transform: scale(1.1);
    }
}