.containerContactanos {
    @include article;
    min-height: 320px;
    input {
        box-shadow: 0px 27px 45px -14px rgba(0,0,0,0.75);
        &:focus {
            box-shadow: 1px 1px 10px rgba(0,0,0,0.75);
        }
    }
    textarea {
        resize: none;
        &:focus {
            box-shadow: 1px 1px 10px rgba(0,0,0,0.75);
        }
    }
    .botonModal {
        &:focus {
            box-shadow: 1px 1px 10px rgba(0,0,0,0.75);
        }
    }
}