section {
    .tituloBanner {
        color: $colorWhite;
        -webkit-text-stroke: 1px 27px 45px -14px black;
        text-shadow: 1px 3px 1px black;
        // background-color: $colorBlack;
    }
    .bannerAnillos {
        @include miBanner;
        background-image: url(../media/anillos.jpg);
    }
    .bannerPulseras {
        @include miBanner;
        background-image: url(../media/pulseras.jpg);
    }
    .bannerCadenas {
        @include miBanner;
        background-image: url(../media/cadenas.jpg);
    }
    .bannerDijes {
        @include miBanner;
        background-image: url(../media/dijes.jpg);
    }
}
@media all and (min-width: 992px){
       .bannerAnillos, .bannerPulseras, .bannerCadenas, .bannerDijes {
          width: 400px ;
          height: 550px;
        }
}