.containerSection {
    margin: auto;
    max-width: 1080px;
    height: auto;
    .containerProducto {
        background-color: $colorLigthPink;
        border: solid 2px rgb(0, 0, 0);
        width: 260px;
        margin: 16px auto;
        box-shadow: 0px 27px 45px -14px rgba(0,0,0,0.75);
        border-radius: 6px;
        h6 {
            color:$colorBlack;
        }
        img {
            width: 250px;
            height: auto;
            border: black 2px solid;
            margin: auto;
            border-radius: 3px;

        }
        p {
            margin: 0 1rem;
        }
        .descripcionProducto {
            width: 235px;
            height: 56px;
            border: 1px solid rgb(43, 40, 40);
            margin: 0 10px 10px 10px;
            background-color: white;
        }
    }
}
#titleProducto {
    margin-top: 180px;
    color: $colorLigthPink;
    -webkit-text-stroke: 1px black;
}

@media all and (min-width: 992px){
    #titleProducto {
        margin-top: 140px;
    }
    .containerSection{
        min-height: 1080px;
        img {
            &:active {
                transition: 250ms linear;
                transform: scale(2);
            }
        }
    }
}
