.containerUbicacion {
    @include article;
    min-height: 350px;
        .containerInfo {
        background-color: $colorGrey;
        border-radius: 6px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 10px;
        }
}
.maps {
  @include imgArticle
}